In [1]:
import pandas as pd

In [2]:
dis_df = pd.read_csv('Datasets/pend-gdis-1960-2018-disasterlocations.csv')

In [3]:
city_df = pd.read_csv('Datasets/Temperatures/GlobalLandTemperaturesByCity.csv')

In [4]:
pd.set_option('display.max_columns', 100)

In [5]:
dis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39953 entries, 0 to 39952
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            39953 non-null  object
 1   country       39953 non-null  object
 2   iso3          39638 non-null  object
 3   gwno          39519 non-null  float64
 4   year          39953 non-null  int64
 5   geo_id        39953 non-null  int64
 6   geolocation   39953 non-null  object
 7   level         39953 non-null  int64
 8   adm1          39953 non-null  object
 9   adm2          14070 non-null  object
 10  adm3          2410 non-null   object
 11  location      39953 non-null  object
 12  historical    39953 non-null  int64
 13  hist_country  236 non-null    object
 14  disastertype  39953 non-null  object
 15  disasterno    39953 non-null  object
 16  latitude      39953 non-null  float64
 17  longitude     39953 non-null  float64
dtypes: float64(3), int64(4), object(11)
memory usage: 5.5+ MB

In [6]:
city_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8599212 entries, 0 to 8599211
Data columns (total 7 columns):
 #   Column                         Dtype
---  ------                         -----
 0   dt                             object
 1   AverageTemperature             float64
 2   AverageTemperatureUncertainty  float64
 3   City                           object
 4   Country                        object
 5   Latitude                       object
 6   Longitude                      object
dtypes: float64(2), object(5)
memory usage: 459.2+ MB

In [7]:
pd.get_dummies(dis_df.disastertype)

,drought,earthquake,extreme temperature,flood,landslide,mass movement (dry),storm,volcanic activity
0,0,0,0,1,0,0,0,0
1,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0
3,0,0,0,1,0,0,0,0
4,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
39948,0,0,0,0,0,0,1,0
39949,0,0,0,0,0,0,1,0
39950,0,0,0,0,0,0,1,0
39951,0,0,0,0,0,0,1,0
39952,0,0,0,0,0,0,1,0

In [8]:
dis_extended = pd.get_dummies(dis_df, columns=['disastertype'])

In [9]:
dis_extended.drop(['adm1', 'adm2', 'adm3'], axis=1)

,id,country,iso3,gwno,year,geo_id,geolocation,level,location,historical,hist_country,disasterno,latitude,longitude,disastertype_drought,disastertype_earthquake,disastertype_extreme temperature,disastertype_flood,disastertype_landslide,disastertype_mass movement (dry),disastertype_storm,disastertype_volcanic activity
0,109,Albania,ALB,339.0,2009,346,Ana E Malit,3,Ana E Malit,0,NaN,2009-0631,42.020948,19.418317,0,0,0,1,0,0,0,0
1,109,Albania,ALB,339.0,2009,351,Bushat,3,Bushat,0,NaN,2009-0631,41.959294,19.514309,0,0,0,1,0,0,0,0
2,175,Angola,AGO,540.0,2001,760,Onjiva,3,Onjiva,0,NaN,2001-0146,-17.093484,15.665758,0,0,0,1,0,0,0,0
3,187,Angola,AGO,540.0,2009,710,Evale,3,Evale,0,NaN,2009-0092,-16.531533,15.773987,0,0,0,1,0,0,0,0
4,187,Angola,AGO,540.0,2009,749,Mupa,3,Mupa,0,NaN,2009-0092,-16.200065,15.844189,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39948,Jun-94,Dominica,NaN,NaN,2015,45253,Saint Patrick,1,St. Patrick province,1,NaN,2015-0375,15.282063,-61.291589,0,0,0,0,0,0,1,0
39949,Jun-94,Dominica,NaN,NaN,2015,45254,Saint Andrew,1,St. Andrew province,1,NaN,2015-0375,15.541065,-61.350601,0,0,0,0,0,0,1,0
39950,Jun-94,Dominica,NaN,NaN,2015,45255,Saint George,1,St. George province,1,NaN,2015-0375,15.308003,-61.343527,0,0,0,0,0,0,1,0
39951,Jun-94,Dominica,NaN,NaN,2015,45256,Saint David,1,St. David province,1,NaN,2015-0375,15.413059,-61.282094,0,0,0,0,0,0,1,0
39952,Jun-94,Dominica,NaN,NaN,2015,45257,Saint Paul,1,St. Paul province,1,NaN,2015-0375,15.367511,-61.364736,0,0,0,0,0,0,1,0